In [ ]:
import pandas as pd

In [ ]:
data=pd.read_csv("parks.csv",index_col='Park Code')

In [ ]:
data.head(2)

In [ ]:
#.loc is label based. prints out row matching the label.
#to use this, index_col argument in pd.read_csv should be used
data.loc['ACAD']

In [ ]:
#.iloc is integer position based
#it doesn't matter whether labels are there or not. it works just fine
data.iloc[0]

In [ ]:
#data[['Park Name','State']] = data[['State','Park Name']]
#This code will switch the values in the columns

#however, .loc and .iloc will not modify it
data.loc[:,['Park Name','State']] = data[['State','Park Name']]

In [ ]:
data.head(2)

In [ ]:
#in case we want to modify using loc then
#data.loc[:,['Park Name','State']] = data[['State','Park Name']].values

In [ ]:
data['State'].head(2).values

In [ ]:
#slicing using .loc

data[:'ARCH']
data.loc[:'ARCH']
#both give the same result

In [ ]:
data1 = data.copy()
data1[:'ARCH']=0
data1.loc[:'ARCH']=1
#this will assign values

In [ ]:
data1.head(2)

In [ ]:
#accessing via label slices
data.loc[:'ARCH',['Park Name','State']]

In [ ]:
#for getting values with a boolean array.
data.loc['ARCH']=='UT'

In [ ]:
#for getting a value explicitly
#this is equivalen to 'data.at['ARCH','State']
data.loc['ARCH','State']

In [ ]:
#sorting based on index
data.sort_index().head(2)

In [ ]:
#It is a good practice to change the header names as they names with space in them can create some trouble
data.columns=[col.replace(' ','_').lower() for col in data.columns]

In [ ]:
#in .iloc we need to know the exact location of the column
#to get the location of the column
data.columns.get_loc('Longitude')

In [ ]:
#complicated expressions, including lambdas
data[data['Park Name'].str.split().apply(lambda x: len(x)==4)].head()

In [ ]:
#isit method: returns a dataframe of booleans that is the same shape as the original dataframe with True wherever the element is in the sequence of values.
#data.isin(['WA','OR','CA']).head()
data[data.State.isin(['WA','OR','CA'])].head()

Data Manipulation Techniques

In [ ]:
import numpy as np

In [ ]:
salary=pd.read_csv("basic_salary2.csv")

In [ ]:
#Same as summary() in R
salary.describe(include='all')

In [ ]:
#Dimension of the data
salary.shape

In [ ]:
salary[['Last_Name', 'First_Name']].head(1)

In [ ]:
#subsetting using a criteria; like subset() in R
salary3=salary[(salary.Location == 'DELHI') & (salary.ba >20000)]

In [ ]:
#To check the nan in the data
pd.isnull(salary).head(1)

In [ ]:
#Show row which have nan. any() returns whether any element is True over requested axis. Its's format is pandas.dataframe.any
salary[pd.isnull(salary).any(axis=1)].head(6)

In [ ]:
salary6=salary[(salary.Grade!="GR!") & (salary.Location!='MUMBAI')]

In [ ]:
#Sorting of data frame using pandas
salary.sort_values(by='ba', ascending=False).head(2)

#sorting by multiple columns
salary.sort_values(by=['Grade','ba']).head(2)

In [ ]:
#To delete a variable
%reset_selective sorted_salary

In [ ]:
#Different ways of joining two or more dataframes.

#Concatenation
join=pd.concat([salary, salary3], ignore_index=True)
#like rbind() in R
join3=pd.concat([salary, salary3], axis=1)

#Append
join1=salary.append(salary3, ignore_index=True)

#Merge
sal_data=pd.read_csv("sal_data.csv")
bonus_data=pd.read_csv("bonus_data.csv")
join2=pd.merge(sal_data, bonus_data,how='outer',on='Employee_ID')

In [ ]:
#Aggregate 
A=salary.groupby('Location').agg({'ba':'mean'})

In [ ]:
#To rename the column
salary.rename(columns={'ba':'Basic Allowance'}, inplace=True)

#The following command can be used to rename all or some of the columns.
#salary.columns=[''] when index is not mention, it can be used to rename all the columns
#salary.columns[3]=[''] it will rename column 4

In [ ]:
#Adding new column
salary['Bonus']=salary['Basic Allowance']*0.05

In [ ]:
#Like the ifelse() in R, to change value stored in the column
salary['Location']=np.where(salary['Location']=='MUMBAI',1,2)

#np.where for multiple conditions
salary['Category']=np.where(salary['Basic Allowance']<14000,"Low",(np.where(salary['Basic Allowance']<19000,"Medium","High")))

#cut function like the function in R.
pd.cut(salary['Basic Allowance'], [0,14000,19000, np.inf], labels=['Low','Medium','High']).head(6)

In [ ]:
#To remove first 5 rows
salary.drop(salary.index[0:5],inplace=True) 

#to remove columns
salary.drop(['Category'], axis=1)

In [ ]:
#Frequency Table
pd.crosstab(index=salary.Grade,columns=salary.Function)

#Three-way Frequency Table
pd.crosstab(index=[salary.Grade, salary.Location],columns=salary.Function)

#Proportion table
pd.crosstab(index=salary.Grade, columns=salary.Function, normalize='index')

In [ ]:
#Converting variables to the date format

#in both the cases variable is stored as object type

#to run these refer to youtube_analysis repository
#if the date is in some other format:
final['trending_date']=pd.to_datetime(final['trending_date'],format='%y.%d.%m')

#if variable is in proper format but stored as object:
final['publish_time']=pd.to_datetime(final['publish_time'])

In [ ]:
#to extract only date
final['publish_time'].dt.date

#to extract only time
final['publish_time'].dt.time